{% extends 'base.html.twig' %}

{% block body %}
    <h1>Send Emails</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">Send Emails</button>
    {{ form_end(form) }}
{% endblock %}